<div class="container">
  <form autocomplete="off" (ngSubmit)="pesquisar()">
  <div class="grid">


    <div class="col-12">
      <h1>Lançamento</h1>
    </div>

    <div class="col-12 p-fluid">
      <label>Descrição</label>
      <input pInputText type="text" name="descricao" [(ngModel)]="descricao">
    </div>

    <div class="col-12">
      <label style="display: block">Vencimento</label>

      <input pInputText type="text" style="width: 115px">

      <label class="label">até</label>

      <input pInputText type="text" style="width: 115px">
    </div>

    <div class="col-12">
      <button pButton type="submit" label="Pesquisar"></button>
    </div>
  </div>
</form>


  <app-lancamento-gride [lancamentos]="lancamentos"></app-lancamento-gride>

<div class="col-12">
  <button pButton type="submit" label="Novo Lançamento"></button>
</div>

</div>
